body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

#guide { max-width: 30%
                }
      
      
 .Teste { color: #fce4ec;
             padding: 4px;
             margin-top:6px;
             background-color: #DC143C;
             font-style: oblique;
             font-size: 14px;
             position: absolute;
             right:-20px;
             width: 100px;
             border: 3px solid 
            #DC143C;
    
    }